

@mixin apply_transition($transition-property, $transition-duration, $transition-timing) {
  transition-property: $transition-property;transition-duration: $transition-duration;


  @if $transition-timing == ease-out-quart {
    transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
  } @else {
    transition-timing-function: $transition-timing;
  }
}
@mixin boxsizing() {
  box-sizing:        border-box;
}
@mixin centerit() {
  position: absolute;
  top:50%; left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}


h4.bigger-heading{
  font-size: 150%;
}
.border-image{
  box-shadow: 0 0 0 1px rgba(0,0,0,0.5);
}

/* ======misc classes */
.simple-hr{
  background: rgba(100,100,100,.3);
  height: 1px;

}
.clear{
  clear:both;
}

.fullwidth{
  width: 100%;
  @include boxsizing();
}

@import "css/imgPreview";
.dzs-setting{
  margin-bottom: 15px;
  clear: both;
}
.sidenote{
  margin:10px 0;
  font-style:italic;
  color:#bbb;
  font-size:0.9em;
}




div.sidenote{
  display:block;
  margin:10px 0;
  font-style:italic;
  color:#bbb;
  font-size:0.9em;
}
/*==== select wrapper END ===*/


$bg_color: #444;


















/* -- customizer */

















.small-input, .small-input+.sidenote{
  display: inline-block;
  vertical-align: middle;
}

body .customize-control .small-input{

  width: 50px;
  margin-right: 5px;
}

#customize-controls h3.preset-h3{
  color: #444444;
  border-bottom: 1px solid #999999;
  padding-bottom: 5px;
}

.font-conglomerate{
  margin-top: 40px;

  &:first-child{
    margin-top: 0px;
    >h3{
      margin-top: 0;
      position: relative;

    }
  }

  h3{
    position: relative;

    .number-enable-checkbox{
      position: absolute;
      bottom:7px;
      right:0;
    }
  }
}


.font-conglomerate + .grey-bg{
  margin-top: 25px;
}



.btn-remove-preset[data-id="default_q"]{
  display: none;
}

.radio-container{
  >label{
    display: inline-block;
    margin-right: 5px;
  }
  >label:first-child{

    margin-right: 15px;


  }
}
.customize-control h6{
  text-transform: uppercase;
  margin: 15px 0 5px;
}
.customize-control h6 + .sidenote{
  margin-top:-5px;
}

.customize-control .dzs-tabs.skin-box.is-toggle .tab-menu-con, .customize-control  .dzs-tabs.skin-box.is-toggle .tab-menu-con.active{
  margin-bottom: 0;
}

.customize-control .dzs-tabs.skin-box.is-toggle .tab-menu-con, .customize-control .dzs-tabs.skin-box.is-toggle .tab-menu-con.active{
  border-bottom-width: 0;
}
.customize-control .dzs-tabs.skin-box.is-toggle .tab-menu-con:last-child, .customize-control .dzs-tabs.skin-box.is-toggle .tab-menu-con.active:last-child{
  border-bottom-width: 1px;
}

.small-input+.sidenote{
  line-height: 1;

}
#toplevel_page_antfarm-mo{
  display: none;
}



.vc_controls-row .vc-row-move{
  float:left;
  margin-left: 1px;
}



body #qucreative_meta_options  .for-quextend_port_items{
  display: none;
}
body.post-type-quextend_port_items #qucreative_meta_options  .for-quextend_port_items{
  display: block;
}
body .setting-meta-fullscreen-option,  .qucreative_meta-bigcon > .setting.setting-meta-fullscreen-option{
  display: none;
}
body.selected-template-portfolio,body.selected-default,body.post-type-quextend_port_items{
  .qucreative_meta-bigcon > .setting.setting-meta-fullscreen-option{
    display: block;
  }
}




body.selected-template-gallery-creative{

  #postimagediv{
    display: none;
  }
  .qucreative_meta-bigcon{
    >.setting{
      display: none;
    }
    >.setting-background-image{
      display: block;
    }
  }

  .not-for-selected-template-gallery-creative{
    display: none;
  }
}

#qucreative_meta_gallery{
  /*
  was none
   */
  display: block;
}
body.selected-template-qucreative-slider,body.selected-template-gallery-creative,body.selected-media-type-slider{
  #qucreative_meta_gallery{
    display: block;
  }
}

body.post-type-quextend_port_items{
  .setting-only-for-template-portfolio{

    display: block;
  }

}
input.disabled{
  //pointer-events: none;
}

.setup-slider-for-prev-input{
  margin-top: 10px;
}

.feed-sidenote{
  display: none;
}


input.needs-attention{
  box-shadow: 0 0 25px 0 rgba(255,50,50,0.5);
}

.dzs-button-simple.padding-big{
  padding: 19px 23px;

  font-size: 14px;
}

input.big-font{
  font-size: 19px;
  padding: 15px;
}


#customize-header-actions .button-secondary{
  float: right;
  margin-top: 9px;
  margin-right: 5px;
}



.chosen-container .chosen-results{
  max-height: 140px!important;
}



.vc_ui-panel-window[data-vc-shortcode="vc_row"]{
  *[data-vc-shortcode-param-name="full_width"]{
    display: none;
  }
}

.vc_ui-panel-window[data-vc-shortcode="vc_row"],.vc_ui-panel-window[data-vc-shortcode="vc_section"]{

  *[data-vc-shortcode-param-name="full_height"]
  ,*[data-vc-shortcode-param-name="content_placement"]
  ,*[data-vc-shortcode-param-name="equal_height"]
  ,*[data-vc-shortcode-param-name="video_bg"]
  ,*[data-vc-shortcode-param-name="parallax"]
  ,*[data-vc-shortcode-param-name="content_placement"]
  {
    display: none;
  }

  *[data-vc-shortcode-param-name="css"]{
    text-align: center;
  }
  .vc_layout-onion{
    width: 100%!important;
    max-width: 350px;
    margin: 0 auto!important;

    &+.vc_settings{
      display: none;
    }
  }
}












#toplevel_page_antfarm-mo{
  display: none;
}
